<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <h1>题目搜索</h1>
    <div class="alert alert-danger" role="alert">
      关键词 或者 题目信息文字
    </div>


    <div>
         <div class="form-group">
            <label for="exampleInputEmail1">题目信息</label>
            <input type="text" class="form-control" id="q" placeholder="请输入关键字">
        </div>
        <input  class="btn btn-primary" type="submit" id="searchBtn" value="搜索">
    </div>

    <br/>

    <div id="list">

    </div>

</div>
</body>
<script id="list_template" type="text/html">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <% _.forEach(list, function(item, i) { %>
          <li class="nav-item" role="presentation">
            <a class="nav-link active" data-index="<%= i+1 %>" id="home-tab" data-toggle="tab" href="#<%= i+1 %>" role="tab" aria-controls="home" aria-selected="true">第${i+1}题</a>
          </li>
        <% }); %>
    </ul>

    <div class="tab-content" id="myTabContent">
        <% _.forEach(list, function(item, i) { %>
          <div class="tab-pane fade <% if(i==0) { %> show active <% } %>"  role="tabpanel">
             <div class="media">
                 <div class="media-left" style="width: 50%">
                     <div>
                         <img src="<%- item.pic_title %>" alt="q" />
                     </div>
                     <div>
                         <img src="<%- item.pic_answer %>" alt="a" />
                     </div>

                 </div>
                 <div style="width: 30%; white-space:pre">
                    <%= item.text %>
                 </div>
             </div>
          </div>
        <% }); %>
    </div>
</script>

<script>
$(function () {
    $('#list').delegate('a', 'click', function (event) {
      event.preventDefault()
      var index = $(this).data('index');
        $('.tab-pane').removeClass('show active')

        console.log(index)

        $('.tab-pane').eq(index-1).addClass('show active')
    })

    var templateStr = $('#list_template').text()
    var compiled = _.template(templateStr)


    function renderList(list) {
        var dom = compiled({list: list})
        var renderDom = $(dom)
        $('#list').empty()
        $('#list').append(renderDom)

    }

    $('#searchBtn').click(function () {
        var qKey = $('#q').val()
        $.get('/questions/search?q='+qKey, function (res) {
            if (res && res.hits && res.hits.total.value) {
                // console.log(res.hits.hits)
                var list = res.hits.hits.map((item) => ({
                    pic_answer: item._source.pic_answer,
                    pic_title: item._source.pic_title,
                    text: item._source.text,
                }))

                renderList(list)
            }
        })
    })
})



</script>
</html>